<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<%= render 'reviews/form', restaurant: @restaurant, review: Review.new %>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= '*' * review.rating %> <%=  review.content%></li>
  <% end %>
</ul>


<%= link_to "List all restaurants", restaurants_path, class: "btn btn-primary" %>
